<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S_Borozna</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/unicons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/tooplate-style.css">

  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">Обо мне</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Проекты</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Skils">Навыки и достижения</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Контакты</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Цветовой режим
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Добро пожаловать <span class="mobile-block">на сайт моего портофолио!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Привет, я</span>
                                <div class="animated-info">
                                    <span class="animated-item">Борозна Светлана</span>
                                    <span class="animated-item">Автотестировщик</span>
                                    <span class="animated-item">QA Engeneer (Junior)</span>
                                </div>
                        </h1>

                        <p>Создание успешного продукта – это непростая задача. И без тестировщика она сложно осуществима.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="#" class="btn mr-lg-2 custom-btn">
                              <i class='uil uil-file-alt'></i> Скачать резюме</a>
                          <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Обратная связь</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
            <div class="col-md text-center">
                <h2>Тут можно ознакомиться c примерами</h2>
                            <h2>моих тестов</h2>
            </div>
				<div class="col-md-4 brd text-center desc">
                    <h3>UI тесты</h3>
                    <h7>Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бал бла бла блa</h7>
                    <div class="custom-btn-group mt-4">
                        <a href="/run_ui" class="btn mr-lg-2 custom-btn">Запустить</a>
                    </div>
				</div>
				<div class="col-md-4 brd text-center desc">
                    <h3>Api тесты</h3>
                    <h7>Бла бла</h7>
                    <div class="custom-btn-group mt-4">
                        <a href="http://localhost:63342/Portfolio_S_Borozna/website/oopss.html?_
                        ijt=bcn6t6g5u55ek4ksle72gjbvqf&_ij_reload=RELOAD_ON_SAVE" class="btn mr-lg-2
                        custom-btn">Запустить</a>
                    </div>
				</div>
                <div class="col-md-4 brd text-center desc">
                    <h3>Allure отчеты</h3>
                    <h7>Бла бла</h7>
                    <div class="custom-btn-group mt-4">
                        <a href="#" class="btn mr-lg-2 custom-btn">Запустить</a>
                    </div>
				</div>
            </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4">
                        <h2>HTML 65%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark"  style="width: 65%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Postman 33%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark" style="width: 33%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Jira 60%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark" style="width: 60%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2> TestLink 68%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark"  style="width: 68%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2> SQL 55%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark"  style="width: 55%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2> Python 60%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark"  style="width: 60%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2> Git 75%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark"  style="width: 75%"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2> DevTools 70%</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-dark"  style="width: 70%"
                            ></div>
                        </div>
                    </div>
                </div>

        <div class="container" style="margin-top: 15px;">

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="images/project/SQL 1.jpg" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/project/SQL 2.jpg" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/project/Postman-1.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/project/project-image04.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="images/project/project-image05.png" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h3 class="mb-3 text-white">Город:</h3>
                    <p>Минск</p>
                  <h3 class="mb-3 text-white">Email-адрес:</h3>
                    <p><a href="mailto:ms.borozna@gmail.com">ms.borozna@gmail.com</a></p>
                  <h3 class="mb-3 text-white">Телефон:</h3>
                    <p>+375 29 768 54 96</p>
                  <h3 class="mb-3 text-white">Социальные сети:</h3>
                <ul class="social-links">
                    <li>
                        <div>
                            <a href="https://t.me/CrazyPenguins" class="fa fa-telegram fa-2x color=#fff;"
                               data-toggle="tooltip" data-placement="left"
                               title="Telegram"></a>
                            <a href="https://www.linkedin.com/in/s-borozna" class="fa fa-linkedin fa-2x color=#fff;"
                               style="margin-left:20px;" data-toggle="tooltip" data-placement="right"
                                title="Linkedin"></a>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Заинтересованы в совместной работе? Давайте поговорим</h2>

              <form
                action="https://formspree.io/f/xeqyyeop"
                method="POST"
              >
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" placeholder="Ваше имя" id="name">
                  </div>

                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" placeholder="Ваш Email" id="email">
                  </div>

                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Сообщение"></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Отправить">

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>