<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Oopsss</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/unicons.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../static/css/tooplate-style.css">

  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    <span data-hover="Go back">Вернуться назад</span></a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-11" align="center">
        <img src="../static/images/undraw/image_processing.gif" class="img-fluid">
    </div>
    <div class="col-lg-12" align="center">
        <h1 class="animated animated-text">
            <div class="animated-info">
                <span class="animated-item">Oopsss...</span>
                <span class="animated-item">Усердно работаю в этом направлении</span>
                <span class="animated-item">Возвращайтесь позже</span>
            </div>
        </h1>
    </div>
  </body>
</html>